h1, h3, h6{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.container pre{
    float: left;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: #1d4661;
    margin: 0;
}

.container img{
    float: left;
    width: 30%; 
    margin-left: 5%;
    height: auto;
}